<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">{{word}}</h1>
        <p class="lead">{{meaning}}</p>
        <hr class="my-4">
        <p>{{example}}</p>
        <p></p>
        <form action="/">
            <button class="btn btn-info btn-lg float-right" type=role=" button">Search another</button>
        </form>

    </div>
</div>